#title {
    color: black;
    text-align: center;
    font-size: 100px;
}
#subtext {
    color: black;
    text-align: center;
    font-size: 30px;
}
#game-title {
    color: black;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
}
html, body {
    overflow-y: visible;
}